/*Dp not edit this it is coming from gulp/templates/sprite.css*/
{{#shapes}}
    {{#first}}
.icon{
    background-image: url('/assets/images/sprites/{{{sprite}}}');
}
{{/first}}
.icon--{{base}}{
    width: {{width.outer}}px;
    height: {{height.outer}}px;
    background-position: {{position.relative.xy}};
}
{{/shapes}}